<div class="well">
    <ul class="nav nav-list">
        <div ng-model = "selection" ng-repeat="drink in drinks">
            <li><a tabindex="-1" href="#" ng-click = "showDrink(drink)">{{drink.name}}</a></li>
            <li class="divider"></li>
        </div>
    </ul>

</div>
