<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
    <div ng-model = "selection" ng-repeat="drink in drinks">
        <li><a tabindex="-1" href="#" ng-click = "showDrink(drink)">{{drink.name}}</a></li>
    </div>
</ul>